body{
    background: rgb(144, 212, 224);
    color: #0c0707;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
  
.color{
	color: rgb(35, 32, 218);
}